<a href="https://colab.research.google.com/github/Dunsino/Hamoye-Codes/blob/main/First_graded_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
#extending a list
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
print (A)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]
[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Question 2
#creating an identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
#Question 3 to 10
#read the csv file from where the location
csv_df = pd.read_csv('http://bit.ly/ML-Dataset')

In [58]:
csv_df

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [57]:
#Question 6
csv_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [65]:
#Question 4
csv_df['fuel_mmbtu_per_unit'].std()

10.600220307806886