<a href="https://colab.research.google.com/github/Dunsino/Hamoye-Codes/blob/main/Introduction_to_Python_for_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Import the necessary libraries
import pandas as pd
import numpy as np

In [4]:
#Read in the data
data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [5]:
#Display the head of the data
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [6]:
#Question 1
#extending a list
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
print (A)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]
[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [7]:
#Question 2
#creating an identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
#Question 6
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [22]:
#Question 4
data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [23]:
#Question 4 contd
np.percentile(data['fuel_mmbtu_per_unit'], 75, axis=None, out=None)

17.006

In [34]:
data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [27]:
#Question 10
data['fuel_cost_per_unit_delivered'].max()

7964521.0

In [28]:
#Question 3

In [32]:
#Question 5
#Calculating the skewness
#skew(data['fuel_qty_burned'], bias=False)
data['fuel_qty_burned'].skew()

15.851495469109503

In [33]:
#Question 5 contd
#Calculating the kurtosis
data['fuel_qty_burned'].kurt()

651.3694501337732