<a href="https://colab.research.google.com/github/Dunsino/Hamoye-Codes/blob/main/ML_code_club_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing the necessary libraries
import pandas as pd
import numpy as np

In [3]:
#reading the csv file
csv_df1 = pd.read_csv('https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv')
csv_df2 = pd.read_csv('https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv')
csv_df3 = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')

In [10]:
csv_df3

       country g77_and_oecd_countries  ... world_4region             world_6region
0         abkh                 others  ...        europe       europe_central_asia
1          abw                 others  ...      americas                   america
2          afg                    g77  ...          asia                south_asia
3          ago                    g77  ...        africa        sub_saharan_africa
4          aia                 others  ...      americas                   america
..         ...                    ...  ...           ...                       ...
268  yem_south                 others  ...          asia  middle_east_north_africa
269        yug                 others  ...        europe       europe_central_asia
270        zaf                    g77  ...        africa        sub_saharan_africa
271        zmb                    g77  ...        africa        sub_saharan_africa
272        zwe                    g77  ...        africa        sub_saharan_africa

[273 rows x 21 columns]

In [11]:
csv_df2

           Country  year  population
0      Afghanistan  1800     3280000
1      Afghanistan  1801     3280000
2      Afghanistan  1802     3280000
3      Afghanistan  1803     3280000
4      Afghanistan  1804     3280000
...            ...   ...         ...
58690     Zimbabwe  2096    30900000
58691     Zimbabwe  2097    31000000
58692     Zimbabwe  2098    31000000
58693     Zimbabwe  2099    31000000
58694     Zimbabwe  2100    31000000

[58695 rows x 3 columns]

In [12]:
csv_df1

           Country  year  cell_phones_total
0      Afghanistan  1960                0.0
1      Afghanistan  1961                0.0
2      Afghanistan  1962                0.0
3      Afghanistan  1963                0.0
4      Afghanistan  1964                0.0
...            ...   ...                ...
11635     Zimbabwe  2015         12800000.0
11636     Zimbabwe  2016         12900000.0
11637     Zimbabwe  2017         14100000.0
11638     Zimbabwe  2018         12900000.0
11639     Zimbabwe  2019         13200000.0

[11640 rows x 3 columns]

In [27]:
csv_df1['Country']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
11635       Zimbabwe
11636       Zimbabwe
11637       Zimbabwe
11638       Zimbabwe
11639       Zimbabwe
Name: Country, Length: 11640, dtype: object

In [40]:
csv_df1.merge(csv_df2, how='inner', on=None, left_on='Country', right_on='year', left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

ValueError: ignored